.container {
    max-width: 1512px;
    margin: 0 auto;
}
.attendance-container {
    width: 420px;
    margin: 80px auto 0;
    text-align:center;
}


.status {
    font-weight: 700;
    font-size:18px;
    color: #696969;
    display: inline-block;
    background-color: #C8C8C8;
    padding: 8px 20px;
    border-radius: 25px;
}