body {
    background-color: #F0EFF2;
}

.container {
    max-width: 1512px;
    margin: 0 auto;
}
.attendance-container {
    width: 800px;
    margin: 80px auto 0;
    text-align:center;
}

.status {
    font-weight: 700;
    font-size:18px;
    color: #696969;
    display: inline-block;
    background-color: #C8C8C8;
    padding: 8px 20px;
    border-radius: 25px;
    margin-top: 130px;
    margin-bottom: 30px;
}

.now-date {
    font-weight: 400;
    font-size: 40px;
    height: 48px;
    margin-bottom: 40px;
}

.current-time {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 100px;
}

.leaving-work-message {
    font-size: 26px;
    font-weight: 700;
}

.attendance-button, .leaving-work-button{
    background-color: #000;
    color: #fff;
    padding: 20px 80px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 10px;
}

.leaving-work-button {
    margin-right: 100px;
}


.starting-brake-button, .ending-brake-button {
    background-color: #fff;
    color:#000;
    padding: 20px 80px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    border: none;
    letter-spacing: 5px;
}
